In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("police.csv")

In [3]:
data.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [4]:
## claening the data

In [5]:
data.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [6]:
data.shape

(65535, 15)

In [7]:
data.drop[columns = "country_name", inplace = true]

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3417010602.py, line 1)

In [ ]:
data.drop(columns = "country_name", inplace = True)

In [ ]:
data

In [ ]:
# from the data who violate more men or women by speeding??

In [ ]:
## lets filter the data first

In [ ]:
data[data.violation == "speeding"]

In [ ]:
data

In [ ]:
data [data.violation == "Speeding"]

In [ ]:
data[data.violation == "Speeding"].driver_gender.value_counts()

In [ ]:
## does gender affeect who gets searched during a stop?
# using data.groupby('column_1').column_2.sum
#

In [ ]:
data.head()

In [ ]:
data.groupby('driver_gender').search_conducted.sum()

In [ ]:
data.search_conducted.value_counts()

In [ ]:
## Mapping and data type casting 
# what is the mean stop duration

In [ ]:
data.head()

In [ ]:
data.dtypes

In [ ]:
## since stop duration is object we need to change it to intiger
# data conversion
#df['column_name'].map((old:new , old:new))
# to find the mean
#df ['Column_name'].mean()

In [ ]:
data['stop_duration'].value_counts()

In [ ]:
data['stop_duration'] = data["stop_duration"].map({"0-15 min" : 7.5, "16-30 Min":24 , '30+ Min' : 45})

In [ ]:
data

In [ ]:
data['stop_duration'].mean()

In [ ]:
# now lets compare the age distribution for each violation 
#df.groupby('column_1').column_2.describe()

In [ ]:
data.head()

In [8]:
data.groupby('violation').driver_age.describe()

,count,mean,std,min,25%,50%,75%,max
violation,,,,,,,,
Equipment,6507.0,31.682957,11.380671,16.0,23.0,28.0,39.0,81.0
Moving violation,11876.0,36.736443,13.258350,15.0,25.0,35.0,47.0,86.0
Other,3477.0,40.362381,12.754423,16.0,30.0,41.0,50.0,86.0
Registration/plates,2240.0,32.656696,11.150780,16.0,24.0,30.0,40.0,74.0
Seat belt,3.0,30.333333,10.214369,23.0,24.5,26.0,34.0,42.0
Speeding,37120.0,33.262581,12.615781,15.0,23.0,30.0,42.0,88.0